.main-btn {
    display: block;
    width: 250px;
    background-color: #5a326a;
    border: 1px solid #5a326a;
    margin: 30px auto 0px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    &:hover {
        text-decoration: none;
    }
}